<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">daisyUI</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="{% url 'home' %}">Home</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'account_logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'account_login' %}">Login</a></li>
      <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
      {% endif %}
      <li>
        <details>
          <summary>Parent</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><a>Link 1</a></li>
            <li><a>Link 2</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>